/* Colors */
:root {
    --primary: #4D96A9;
    --primary-active: #8FE3F9;
    --secondary: #855FB1;
    --secondary-active: #D9B8FF;
    --primary-text: #28283D;
    --secondary-text: #87879D;
    --background: #FAFAFA;
}

/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    color: var(--secondary-text);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 100vh;
    text-align: center;
}

img,
picture {
    display: block;
    max-width: 100%;
}

h1 {
    color: var(--primary-text);
    font-size: 4rem;
    font-weight: 900;
}
header {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 61px;
}

.hero {
    display: flex;
}

.hero-text {
    font-size: 18px;
    max-width: 540px;
    margin: 3rem;
}

.middle {
    display: none;
}