/* Colors */
:root {
    --primary: #4D96A9;
    --primary-active: #8FE3F9;
    --secondary: #855FB1;
    --secondary-active: #D9B8FF;
    --primary-text: #28283D;
    --secondary-text: #87879D;
    --background: #FAFAFA;
}

/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

img,
picture {
    display: block;
    max-width: 100%;
}

/* Typography */
h1, h2 {
    color: var(--primary-text);
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}
.overline-text {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

body {
    color: var(--secondary-text);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 100vh;
    text-align: center;
}


header {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 61px;
}
 
.hero {
    display: flex;
    justify-content: center;
}  

.hero-text {
    font-size: 18px;
    max-width: 540px;
    margin: 3rem;
}

.left-hero {
    background-image: url(./images/desktop/image-hero-left.png);
    background-repeat: no-repeat;
    height: 303px;
    width: 394px;
    background-position: left -35px top 0;
}

.right-hero {
    background-image: url(./images/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    height: 303px;
    width: 394px;
    background-position: right -35px top 0;
}

/* Hide mobile background image */
.middle {
    display: none;
}

/* Button styling */
.cta-buttons {
    margin-top: 2rem;
}

button {
    border: none;
    border-radius: 29px;
    color: var(--background);
    font-weight: 900;
}
.download {
    background-color: var(--primary);
    padding: 1rem 2.5rem;
    margin-right: 1rem; 
}

.download span {
    color: var(--primary-active);
}

.download:hover {
    background-color: #71C0d4;
}

.what {
    background-color: var(--secondary);
    padding: 1rem 1.81rem;
}

.what:hover {
    background-color: #B18BDD;
}

/* Vertical line with number in Circle */
.circle1 {
    margin-bottom: 4rem;
}

.circle-wrapper {
    display: grid;
    justify-content: center;
}

.circle {
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 50%;
    font-weight: 900;
    height: 56px;
    padding: 15px;
    width: 56px;
}

.vertical-line {
    border-left: 1px solid rgba(135, 135, 157, 0.25);
    height: 84px;
    position: relative;
    left: 50%;  
}

/* Gallery Section */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.875rem;
    margin: 0 10rem;
    margin-bottom: 5rem;
}

.gallery img {
    border-radius: 8px;
}

/* Description section */

.description h2, .description p {
    margin-right: auto;
    margin-left: auto;
}
.description h2{
    max-width: 445px;
}
.description p {
    max-width: 540px;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
}

footer {
    align-items: center;
    background: linear-gradient(0deg, rgba(77, 150, 168, .70), rgba(77,150,168,.70)), url(./images/desktop/image-footer.jpg);
    display: flex;
    height: 308px;
    text-align: left;
    justify-content: center; 
}

.col1 h2, .col2 {
    color: var(--background);
    vertical-align: text-top;
}

@media only screen and (min-width: 1441px) {
    .left-hero {
        background-position: left 0px top 0px;
    }
    .right-hero {
        background-position: right 0px top 0px;
    }
}